services:
  finalassignmentcloud-nacos:
    image: nacos/nacos-server:v2.5.2
    container_name: finalassignmentcloud-nacos
    environment:
      - MODE=standalone
    ports:
      - "8848:8848"
      - "9848:9848"
      - "9849:9849"
  mysql-shard-0:
    image: mysql:8.4
    container_name: finalassignmentcloud-mysql-0
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=traffic_0
      - TZ=Asia/Shanghai
    ports:
      - "3307:3306"
    command: --default-authentication-plugin=mysql_native_password
  mysql-shard-1:
    image: mysql:8.4
    container_name: finalassignmentcloud-mysql-1
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=traffic_1
      - TZ=Asia/Shanghai
    ports:
      - "3308:3306"
    command: --default-authentication-plugin=mysql_native_password
